/* Utility-first */
.grid {
    display: grid;
}

.grid-flow-col { /* Padronizado o nome da classe */
    grid-auto-flow: column;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr); /* Melhorado para usar repeat */
}

.gap-16 {
    gap: 16px; /* Adicionado espaço após o valor */
}

.gap-32 {
    gap: 32px;
}

.text-2xl {
    font: var(--h1);
}

.text-xl {
    font: var(--h2);
}

.text-lg {
    font: var(--h3);
}

.text-sm {
    font: var(--text-sm);
}